* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navigation bar css part start */

header {
    width: 100%;
    height: 100px;
}

#logo {
    width: 20%;
    height: 100px;
    margin-left: 150px;
    float: left;
}

#logo>img {
    width: 100%;
    height: 80px;
}

#admin {
    width: 120px;
    height: 30px;
    float: right;
    margin-right: 30px;
    margin-top: 35px;
}

#admin>button {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: rgb(10, 10, 10);
    color: rgb(252, 251, 249);
}

nav {
    width: 100%;
    height: 50px;
    background: black;
    margin-top: 10;
}

nav>div {
    width: 12%;
    height: 100%;
    float: left;
    margin-right: 10px;
}

nav>div:nth-child(1) {
    margin-left: 17%;
}

nav>div>button {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    color: white;
    background-color: black;
    border: none;
}


/* navigation bar css part end */


/* slide-show part start */

body {
    background-color: white;
    opacity: 1.5;
}

#slide {
    width: 50%;
    /* height: 400px; */
    margin: auto;
    margin-top: 50px;
    box-shadow: -2px -2px 5px rgb(1, 65, 12), 2px 2px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slide>img {
    width: 90%;
    height: 90%;
}


/* slide-show part end */


/* category part start from here */

#category {
    width: 95%;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template: 'div div div div div';
    gap: 20px;
}

#category>div {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin-top: 20px;
    box-shadow: -2px -2px 5px rgb(1, 65, 12), 2px 2px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jewellery {
    background-image: url('./jewel.jpg');
}

#electronic {
    background-image: url('./electronic.jpg');
}

#forWomen {
    background-image: url('./womens.jpg');
}

#forMen {
    background-image: url('./mens.jpg');
}
#forAll {
    background: linear-gradient(45deg, #ff7300, #e6005c, #007bff, #00ff84, #ff7300);
    background-size: 400% 400%;
    animation: colorChange 10s infinite;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@keyframes colorChange {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

#category>div>button {
    min-width: 70%;
    height: 40px;
    padding: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    letter-spacing: 1px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: -2px -2px 5px rgb(1, 65, 12), 2px 2px 10px black;
}


/* category part end  here */


/* Displaying product */

#display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* box-shadow: -2px -2px 5px rgb(1, 65, 12), 2px 2px 10px black; */
}
.product-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    /* height: 450px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-card img {
    width: 80%;
    height: 300px;
    margin: auto;
  }

p {
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 500;
    font-size: 20px;
    padding: 20px;
}

.product-card h3 {
    text-align: center;
    /* padding-top: 20px; */
    padding: 10px 30px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 16px;
}

.product-card >button {
    width: 130px;
    height: 30px;
    box-shadow: -2px -2px 5px rgb(1, 65, 12), 2px 2px 10px black;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: black;
    color: white;
    /* margin-left: 40%; */
    margin: 10px 10px 50px 10px;
}

#sort {
    width: 40%;
    height: 50px;
    margin-top: 50px;
    margin: auto;
}

#sort>select {
    width: 100%;
    height: 40px;
    font-size: 20px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    margin-top: 50px;
}